@model IEnumerable<PurchaseRequisition.Models.Item>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    @if(SignInManager.IsSignedIn(User) && User.IsInRole("Member") || User.IsInRole("DeopHead"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quanity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileAttachment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chosen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Justification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestedPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quanity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileAttachment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chosen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Justification)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Member") || User.IsInRole("DepoHead"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
